.banner{
    background-image: url("../img/img4.jpg");
    background-position: top-center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}
.menu{
    background-color:#f6e5da;
}